SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*
DB_ENGINE=postgres
DB_NAME=careerpilot
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
GEMINI_API_KEY=replace-with-your-key
MEDIA_ROOT=media
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
